body {
  background-color: #f6f6f6;
  color: #657b85;
padding-left: 150px;

}

.part1{
  background-color:#657b85;
  height: 500px;
  margin-top: 100px;

}
.part1 h1 {
	  color: white;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;

}
.part1 h4 {
	color: white;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  margin-top: -25px;

}

.image1{
	width: 357px;
	height: 700px;
}

p{
	
}

.vision{
	padding-left: 120px;
	background-color: white;

	width: 100%;
	height:100%;

}

@media only screen and (max-width: 479px) {
.vision{
	padding-left: 0px;
	background-color: white;

	width: 100%;
	height:100%;

}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.vision{
	padding-left: 0px;
	background-color: white;

	width: 100%;
	height:100%;

}

}
}

span{
	color:black;
}
