body {
  background-color: #f6f6f6;
  color: #657b85;


}

.part1{
  background-color:#657b85;
  height: 500px;
  margin-top: 100px;

}
.part1 h1 {
	  color: white;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;

}
.part1 h4 {
	color: white;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  margin-top: -25px;

}

.image1{
	width: 357px;
	height: 700px;
}
.image2{
  width: 357px;
  height: 550px;
}
p{
	
}
.top{
  margin-left: -80px
}
.vision{
	padding-left: 120px;
	background-color: white;

	width: 100%;
	height:100%;

}
.vision h3{
	color: #3d4b52;
}

@media only screen and (max-width: 479px) {
.vision{
	padding-left: 0px;
	background-color: white;

	width: 100%;
	height:100%;

}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.vision{
	padding-left: 0px;
	background-color: white;

	width: 100%;
	height:100%;

}

}
}

span{
	color: #3d4b52;
}

.exp{
	margin-top: 110px;
}

.info{
	 background-color:#657b85;
  height: 1200px;
  padding-top: 40px;
  

}

.info h4{
  text-align: center;
  width: 500px;
  color: #37474f;
  padding: 10px;
  border:medium solid #37474f;
  border-radius: 8px;
}


.contact{
	margin-top: 80px;
}


.form{
	background-color: white;
	padding: 15px;
}
.footer{
	 background-color:#3d4b52;
  height: 130px;
  margin-bottom: 100px;
  margin-top: 60px;
  color: white;
  padding-left: 150px;
  padding-top: 50px;
}


.span{
	color: #3d4b52;
}

input[type="text"] {
    width: 100%;
    border-width:2px;
    border-color: #cbcbcb;
    border-top: none;
    border-left: none;
    border-right: none;
    
    
    
}

#email{
	margin-top: -10px;
}

textarea { border: none; }

input[type="submit"] {
  
    border-color: #3d4b52;
    border-radius: 5px;
    color: #3d4b52;
    background-color: #f6f6f6;
    width: 105px;
    height: 35px;
    float: right;
	border-width: 2px;

}